{% extends 'base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card p-4 text-center">
            <h2><i class="bi bi-check-circle text-success"></i></h2>
            <h4>Password Reset Complete</h4>
            <p>Your password has been set. You can now log in.</p>
            <a href="{% url 'login' %}" class="btn btn-dark">Login</a>
        </div>
    </div>
</div>
{% endblock %}
